body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body {background: radial-gradient(100% 100% at var(--4-x-position) var(--4-y-position), #3cc2dd 0%, transparent),radial-gradient(100% 100% at var(--5-x-position) var(--5-y-position), #ff00bb 0%, transparent),#1b253b;animation-name: main; animation-iteration-count: infinite; animation-duration: 2s; transition-timing-function: ease-in;}@property --4-x-position {
      syntax: '<percentage>';
        inherits: false;
        initial-value: 20%;
      }@property --4-y-position {
        syntax: '<percentage>';
          inherits: false;
          initial-value: 80%;
        }@property --5-x-position {
      syntax: '<percentage>';
        inherits: false;
        initial-value: 80%;
      }@property --5-y-position {
        syntax: '<percentage>';
          inherits: false;
          initial-value: 20%;
        }:root {--4-x-position: 20%;--4-y-position: 80%;--5-x-position: 80%;--5-y-position: 20%;}
    @keyframes main {
      25% {--4-x-position: 15%;--4-y-position: 15%;--5-x-position: 85%;--5-y-position: 80%;}50% {--4-x-position: 80%;--4-y-position: 15%;--5-x-position: 15%;--5-y-position: 85%;}
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 3px;
    color: white;
} 

.container {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);         
    -webkit-backdrop-filter: blur(20px);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    min-width: max-content;
    max-width: 400px;
    height: 70%;
    padding: 40px;
    border-radius: 40px 10px;
    border: 2px solid white;
    opacity: 100%;
}

.container .productInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.container .productInfo .cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container .productInfo label {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.container .productInfo .field {
    width: 50%;
    height: 35px;
    background-color: #ffffff47;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 30px;
    padding: 15px;
    text-align: center;
    color: white;
    transition: width 0.3s ease-in-out;
}

.container .productInfo .field:hover {
    width: 75%;
    transition: width 0.3s ease-in-out;
}

.container .productInfo .field:focus {
    width: 75%;
    transition: width 0.3s ease-in-out;
    outline: none;
}

.container .productInfo .field:nth-child(1):focus {
    width: 75%;
    transition: width 0.3s ease-in-out;
}

.container .productInfo .fieldTitle {
    font-size: 30px;
}

.container .productInfo .field::placeholder {
    color: white;
    opacity: 0.8;
}

.createBtn {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
}

.createBtn:hover {
    animation: spin 1s linear infinite;
}

.createBtn:active {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
    animation: none;
}


.backBtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 50px;

    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.backBtn:hover {
    animation: leftRight 1s linear infinite;
}

.backBtn:active {
    background-color: white;
    color: black;
    animation: none;
}
@keyframes leftRight {
    0% {
        transform: translateX(-10px);
        transform: rotateX(30deg);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes spin {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}